{%- assign link_handle = link.handle | default: false -%}
{%- assign sub_link_handle = sub_link.handle | default: false -%}
{%- assign sub_sub_link_handle = sub_sub_link.handle | default: false -%}
{%- assign labels = null -%}
{%- for block in section.blocks -%}
    {%- if block.type == 'megamenu_label' -%}
        {%- assign for_item_array = block.settings.for_item | split: '+' -%}
        {%- assign for_item_link_handle = for_item_array[0] | handle | default: false -%}
        {%- assign for_item_sub_link_handle = for_item_array[1] | handle | default: false -%}
        {%- assign for_item_sub_sub_link_handle = for_item_array[2] | handle | default: false -%}
        {%- if link_handle == for_item_link_handle and sub_link_handle == for_item_sub_link_handle and sub_sub_link_handle == for_item_sub_sub_link_handle -%}
            {%- capture label -%}
                {%- if block.settings.type == 'hot' -%}
                    {%- capture default_text -%}{{ 'layout.header.labels.hot' | t }}{%- endcapture -%}
                    <span class="menu__label menu__label--hot px-3 ml-5 order-1">{{ block.settings.text | default: default_text }}</span>
                    {%- elsif block.settings.type == 'sale' -%}
                    {%- capture default_text -%}{{ 'layout.header.labels.sale' | t }}{%- endcapture -%}
                    <span class="menu__label menu__label--sale px-3 ml-5 order-1">{{ block.settings.text | default: default_text }}</span>
                    {%- elsif block.settings.type == 'new' -%}
                    {%- capture default_text -%}{{ 'layout.header.labels.new' | t }}{%- endcapture -%}
                    <span class="menu__label menu__label--new px-3 ml-5 order-1">{{ block.settings.text | default: default_text }}</span>
                {%- endif -%}
            {%- endcapture -%}
            {%- assign labels = labels | append: label -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}