{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
HEADER SIDEBAR COMPONENT
----------------------------------------------------------------------------------------------------------------------

This snippet the navigation sidebar for the header. It is used for both the mobile menu and for the desktop menu when
the merchant configures the drawer mode.

********************************************
Supported variables
********************************************

* menu: the menu to render
* color_scheme: the color scheme to use for the sidebar
* show_dividers: whether dividers are shown for the collapsible
* open_second_level_menus: if true, second level dropdown are open by default
{%- endcomment -%}

{%- comment -%}
IMPLEMENTATION NOTE: while being a drawer, the sidebar has a completely different structure for the content. We are
therefore using a different structure for the Shadow DOM template
{%- endcomment -%}
{%- style -%}
.swiper-button-prev-slider.swiper-button-prev-produts{
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 99;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next-slider.swiper-button-next-produts img{
  transform: rotate(180deg);
}
.swiper-button-next-slider.swiper-button-next-produts{
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
{%- endstyle -%}

<template id="header-sidebar-template">
    <div part="base">
        <div part="overlay"></div>
        
        <div part="content">
            {% comment %} 
                <header part="header">
                    <dialog-close-button class="contents">
                        <button type="button" part="close-button tap-area" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                            {%- render 'icon' with 'close', width: 16 -%}
                        </button>
                    </dialog-close-button>
                </header> 
            {% endcomment %}
            
            <div part="panel-list">
                <slot name="main-panel"></slot>
                {%- if menu.levels > 0 -%}
                    <slot name="collapsible-panel"></slot>
                {%- endif -%}
            </div>
        </div>
    </div>
</template>

<header-sidebar id="sidebar-menu" class="header-sidebar drawer drawer--sm color-scheme color-scheme--{{ color_scheme.id }}" template="header-sidebar-template" open-from="left">
    {%- comment -%}We are using a Shadow DOM where each panel has a slot, so we can directly render each level individually{%- endcomment -%}

    {%- comment -%}Panel 1 is the first level{%- endcomment -%}
    <div class="header-sidebar__main-panel" slot="main-panel">
        {% assign my_collection = collections %}
        {% assign count = 0 %}  
        
        {% for product in my_collection %}
            {% assign count = count | plus: 1 %}
        {% endfor %}
        
        {% if count > 0 %}
            <div class="swiper products-swiper main-products-swiper-collections">
                <div class="swiper-wrapper">
                    {% for product in my_collection %}
                        <div class="swiper-slide product-main-collections">
                            <a href="{{ product.url }}">
                                {% if product.featured_image %}
                                    <img class="main-image-products" src="{{ product.featured_image | img_url: '400x' }}" alt="{{ product.title }}">
                                {% endif %}
                                <h3 class="main-title_product">{{ product.title | truncate: 11 }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class=" swiper-button-prev-slider swiper-button-prev-produts">
                    <img src="{{ 'VectorSlider.svg' | asset_url }}" alt="Prev" />
                </div>
                <div class=" swiper-button-next-slider swiper-button-next-produts">
                    <img src="{{ 'VectorSlider.svg' | asset_url }}" alt="Next" />
                </div>
            </div>
        {% endif %}
        
        <div class="header-sidebar__scroller">
            <ul class="header-sidebar__linklist {% if show_dividers %}divide-y{% endif %} unstyled-list" role="list">
                {%- for link in menu.links -%}
                    <li>
                        {%- if link.links.size > 0 -%}
                            <button type="button" class="header-sidebar__linklist-button {% if section.settings.sidebar_text_font == 'heading' %}h6{% endif %}" aria-controls="header-panel-{{ forloop.index }}" aria-expanded="false">
                                {{- link.title -}}
                                {%- render 'icon' with 'chevron-right', width: 12, direction_aware: true -%}
                            </button>
                        {%- else -%}
                            <a href="{{ link.url }}" class="header-sidebar__linklist-button {% if section.settings.sidebar_text_font == 'heading' %}h6{% endif %}">
                                {{- link.title -}}
                            </a>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        <ul class="header-sidebar__linklist {% if show_dividers %}divide-y divide-y-main{% endif %} unstyled-list" role="list">
            {%- for link in menu_mob_main.links -%}
                <li>
                    <a href="{{ link.url }}" class="header-mobile-main {% if section.settings.sidebar_text_font == 'heading' %}h6{% endif %}">
                        {{- link.title -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        
        {%- liquid
            if section.settings.show_country_selector and localization.available_countries.size > 1
                assign show_country_selector = true
            endif
            
            if section.settings.show_locale_selector and localization.available_languages.size > 1
                assign show_locale_selector = true
            endif
        -%}
        
        {%- if shop.customer_accounts_enabled or show_country_selector or show_locale_selector -%}
            <div class="header-sidebar__footer">
                <div class="main-conatiner-mob">
                    {%- if shop.customer_accounts_enabled -%}
                        <a class="track-order-btn-mob" href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="text-with-icon smallcaps sm:hidden">
                            {%- render 'icon' with 'account', width: 20 -%}
                            
                            {%- if customer -%}
                                {{- 'header.general.account' | t -}}
                            {%- else -%}
                                {{- 'header.general.login' | t -}}
                            {%- endif -%}
                        </a>
                    {%- endif -%}
                    
                    <a href="#" class="track-order-btn-mob"> 
                        <img src="{{ 'Vector11.svg' | asset_url }}" alt="Icon" />
                        join for 15%off
                    </a>
                    <a href="/account/orders" class="track-order-btn-mob">
                        <img src="{{ 'la_shipping-fast.svg' | asset_url }}" alt="Icon" />
                        Track My Order
                    </a>
                </div>
                {%- if show_country_selector or show_locale_selector -%}
                    <div class="localization-selectors">
                        {%- if show_country_selector -%}
                            {%- render 'localization-selector', type: 'country', placement: 'top-start', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag, id_prefix: 'header-sidebar' -%}
                        {%- endif -%}
                        
                        {%- if show_country_selector and show_locale_selector -%}
                            <span class="localization-selectors__separator" aria-hidden="true"></span>
                        {%- endif -%}
                        
                        {%- if show_locale_selector -%}
                            {%- render 'localization-selector', type: 'locale', placement: 'top-start', id_prefix: 'header-sidebar' -%}
                        {%- endif -%}
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
    
    {%- comment -%}Panel 2 holds all the second levels{%- endcomment -%}
    {%- if menu.levels > 0 -%}
        <header-sidebar-collapsible-panel class="header-sidebar__collapsible-panel" slot="collapsible-panel">
            <div class="header-sidebar__scroller header-sidebar__scroller-mob-main">
                {%- for link in menu.links -%}
                    {%- if link.links.size > 0 -%}
                        <div id="header-panel-{{ forloop.index }}" class="header-sidebar__sub-panel" hidden>
                            <div class="main_container-button">
                                <button type="button" class="header-sidebar__back-button main_button_link-sidebar link-faded {% if show_dividers %}is-divided{% endif %} text-with-icon {% if section.settings.sidebar_text_font == 'heading' %}h6{% endif %} md:hidden" data-action="close-panel">
                                    {%- render 'icon' with 'chevron-left', width: 12, direction_aware: true -%}
                                    <span>{{- link.title -}}</span>
                                </button>
                                <a class="shop-all_main" href='#'>shop all</a>
                            </div>
                            
                            <ul class="header-sidebar__linklist {% if show_dividers %}divide-y divide-y-mobile{% endif %} unstyled-list" role="list">
                                {%- for sub_link in link.links -%}
                                    <li>
                                        {%- if sub_link.links.size > 0 -%}
                                            <accordion-disclosure>
                                                <details class="accordion__disclosure group" {% if open_second_level_menus %}open{% endif %}>
                                                    <summary class="header-sidebar__linklist-button {% if section.settings.sidebar_text_font == 'heading' %}h6{% endif %}">
                                                        {{- sub_link.title -}}
                                                        <span class="animated-plus group-expanded:rotate" aria-hidden="true"></span>
                                                    </summary>
                                                    
                                                    <div class="header-sidebar__nested-linklist">
                                                        {%- for sub_sub_link in sub_link.links -%}
                                                            <a href="{{ sub_sub_link.url }}" class="link-faded-reverse">{{ sub_sub_link.title }}</a>
                                                        {%- endfor -%}
                                                    </div>
                                                </details>
                                            </accordion-disclosure>
                                        {%- else -%}
                                            <a href="{{ sub_link.url }}" class="header-sidebar__linklist-button header-mob-main-menu {% if section.settings.sidebar_text_font == 'heading' %}h6{% endif %}">
                                                {{- sub_link.title -}}
                                            </a>
                                        {%- endif -%}
                                    </li>
                                {%- endfor -%}
                            </ul>
                            
                            {%- liquid
                                assign link_title_downcase = link.title | strip | downcase
                                assign mega_menu_block = ''
                                
                                for block in section.blocks
                                    assign menu_item_downcase = block.settings.menu_item | strip | downcase
                                    
                                    if menu_item_downcase == link_title_downcase
                                        assign mega_menu_block = block
                                        break
                                    endif
                                endfor
                            -%}
                            
                            {%- capture mega_menu_content -%}
                                <div class="main-header-menu-mob">
                                    {%- render 'mega-menu-images', context: 'sidebar', block: mega_menu_block -%}
                                </div>
                            {%- endcapture -%}
                            
                            {%- if mega_menu_content != blank -%}
                                <div class="header-sidebar__promo scroll-area bleed md:unbleed">
                                    {{- mega_menu_content -}}
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </header-sidebar-collapsible-panel>
    {%- endif -%}
</header-sidebar>

{% comment %} <!-- Swiper CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> {% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiperEl = document.querySelector('.products-swiper');
        const nextBtn = swiperEl.querySelector('.swiper-button-next-produts');
        const prevBtn = swiperEl.querySelector('.swiper-button-prev-produts');
        
        const swiper = new Swiper('.products-swiper', {
            slidesPerView: 'auto',
            spaceBetween: 10,
            watchOverflow: true,
            navigation: {
                nextEl: '.swiper-button-next-produts',
                prevEl: '.swiper-button-prev-produts',
            },
            on: {
                init: function () {
                    const wrapperWidth = swiperEl.querySelector('.swiper-wrapper').scrollWidth;
                    const containerWidth = swiperEl.clientWidth;
                    const windowWidth = window.innerWidth;
                    
                    if ( wrapperWidth <= containerWidth) {
                        nextBtn.style.display = 'none';
                        prevBtn.style.display = 'none';
                    } else {
                        nextBtn.style.display = 'block';
                        prevBtn.style.display = 'block';
                    }
                },
                resize: function () {
                    const wrapperWidth = swiperEl.querySelector('.swiper-wrapper').scrollWidth;
                    const containerWidth = swiperEl.clientWidth;
                    const windowWidth = window.innerWidth;
                    
                    if (wrapperWidth <= containerWidth) {
                        nextBtn.style.display = 'none';
                        prevBtn.style.display = 'none';
                    } else {
                        nextBtn.style.display = 'flex';
                        prevBtn.style.display = 'flex';
                    }
                }
            }
        });
        
        swiperEl.classList.add("swiper-initialized");
    });
</script>
