{%- assign is_fixed = is_fixed | default: false -%}
<div class="loader{% if is_fixed %} loader--page animate{% if settings.layout_enable_preloader %} visible{% endif %}{% endif %} js-loader"{% if is_fixed %} data-js-page-loader{% endif %}>
    {%- if is_fixed -%}
        {%- if settings.layout_enable_preloader -%}
            <div class="loader__bg" data-js-loader-bg></div>
        {%- endif -%}
    {%- else -%}
        <div class="loader__bg" data-js-loader-bg></div>
    {%- endif -%}
    <div class="loader__spinner{% if is_fixed %} fixed{% endif %}" data-js-loader-spinner>
        {%- if settings.layout_preloader_html != blank -%}
            {{ settings.layout_preloader_html }}
            {%- elsif settings.layout_preloader_image != blank -%}
            {% capture image_size %}{{ settings.layout_preloader_image_size }}x{% endcapture %}
            <img src="{{ settings.layout_preloader_image | img_url: image_size }}" alt="{{ settings.layout_preloader_image.alt | default: 'Pre-loader' }}">
            {%- elsif settings.layout_preloader_type == '1' -%}
            <img src="{{ 'shella-preloader.svg' | asset_url }}" alt="Pre-loader">
            {%- elsif settings.layout_preloader_type == '2' -%}
            {% include 'preloader-spinner-01' with get: 'html' %}
            {%- elsif settings.layout_preloader_type == '3' -%}
            {% include 'preloader-spinner-02' with get: 'html' %}
        {%- endif -%}
    </div>
</div>