<!-- Slider main container -->
<div class="product-gallery__swiper swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {%- if product != blank -%}
      {%- liquid
        capture sizes
          echo '(max-width: 699px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), '

          assign media_ratio = 100 | minus: section.settings.product_info_size

          if desktop_layout == 'grid_2x'
            assign media_ratio = media_ratio | divided_by: 2
          endif

          if section.settings.container_size == 'full'
            echo 'calc(' | append: media_ratio | append: 'vw - 96px)'
          else
            assign media_ratio = 1260 | times: media_ratio | divided_by: 100 | round

            if desktop_layout == 'grid_2x'
              assign maximum_width = '560px'
            else
              assign maximum_width = '1100px'
            endif

            echo 'min(' | append: maximum_width | append: ', ' | append: media_ratio | append: 'px - 96px)'
          endif
        endcapture
      -%}

      {%- for media in product.media -%}
        <div
          class="swiper-slide product-gallery__media snap-center {% if forloop.first %}is-initial{% endif %}"
          data-media-type="{{ media.media_type }}"
          data-media-id="{{ media.id }}"
          role="group"
          aria-label="{{ 'general.accessibility.item_nth_of_count' | t: index: media.position, count: product.media.size }}"
          {% if filtered_indexes contains media.position %}
            hidden
          {% endif %}
        >
          {%- if default_media == media -%}
            {%- assign preload = true -%}
          {%- else -%}
            {%- assign preload = false -%}
          {%- endif -%}

          {%- comment -%}
            NOTE: for the product gallery, the autoplay does not work in a similar way. It is always false at the product level,
            and the product-gallery component itself will autoplay (if needed)
          {%- endcomment -%}
          {%- render 'media',
            media: media,
            sizes: sizes,
            preload: preload,
            controls: true,
            playsinline: true,
            muted: enable_media_autoplay,
            loop: enable_video_looping,
            group: 'product',
            product: product
          -%}
        </div>
      {%- endfor -%}
    {%- else -%}
      {%- for i in (1..3) -%}
        {%- capture placeholder_name -%}product-{{ i }}{%- endcapture -%}

        <div
          class="product-gallery__media snap-center {% if forloop.first %}is-initial{% endif %}"
          data-media-type="{{ media.media_type }}"
          data-media-position="{{ media.position }}"
          data-media-id="{{ media.id }}"
          role="group"
          aria-label="{{ 'general.accessibility.item_nth_of_count' | t: index: forloop.index, count: 3 }}"
        >
          {{- placeholder_name | placeholder_svg_tag: 'placeholder' -}}
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>

  <div class="swiper-button-prev">
    <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
    {%- render 'icons', icon: 'chevron-left' -%}
  </div>
  <div class="swiper-button-next">
    <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
    {%- render 'icons', icon: 'chevron-right' -%}
  </div>
</div>

<div class="product-thumbs-gallery__swiper swiper">
  <div class="swiper-wrapper">
    {%- if product != blank -%}
      {%- for media in product.media -%}
        <button
          type="button"
          class="swiper-slide product-gallery__thumbnail"
          {% if filtered_indexes contains media.position %}
            hidden
          {% endif %}
          data-media-type="{{ media.media_type }}"
          data-media-position="{{ media.position }}"
          data-media-id="{{ media.id }}"
          aria-current="{% if forloop.first %}true{% else %}false{% endif %}"
          aria-label="{{ 'general.accessibility.go_to_item' | t: index: forloop.index | escape }}"
        >
          {{-
            media
            | image_url: width: media.preview_image.width
            | image_tag: sizes: '100px', widths: '100', class: 'object-cover'
          -}}

          {%- unless media.media_type == 'image' -%}
            <div class="product-gallery__media-badge">
              {%- if media.media_type == 'model' -%}
                {%- render 'icon' with 'media-model-badge', width: 12 -%}
              {%- else -%}
                {%- render 'icon' with 'media-video-badge', width: 12 -%}
              {%- endif -%}
            </div>
          {% endunless %}
        </button>
      {%- endfor -%}
    {%- else -%}
      {%- for i in (1..3) -%}
        {%- capture placeholder_name -%}product-{% cycle '1', '2', '3', '4', '5' %}{%- endcapture -%}

        <button
          type="button"
          class="swiper-slide product-gallery__thumbnail"
          aria-current="{% if forloop.first %}true{% else %}false{% endif %}"
          aria-label="{{ 'general.accessibility.go_to_item' | t: index: forloop.index | escape }}"
        >
          {{- placeholder_name | placeholder_svg_tag: 'placeholder object-covre' -}}
        </button>
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>
