{%- unless product.has_only_default_variant -%}
{% assign product_option_enable_tooltips = true %}
<div class="product-options product-options--type-page product-options--left product-options--mobile-centered js-product-options" data-js-product-options data-js-change-history>
    {% assign product_variant_item = product.options_with_values | sort: "name" %}
    {%- for option in product_variant_item -%}
        {%- assign option_index0 = forloop.index0 -%}
        {% if option.name contains "Color" %}
        <div class="">
            <label class="d-block" id="product-color-label-{{ current_variant_id }}">{{ option.name }}: {{ current_variant.option1 }}</label>
            {%- assign clear_name = option.name | escape | downcase -%}
              <div class="product-options__section d-flex flex-wrap px-2" data-style="circle-image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}" data-disable-auto-select>
                    {%- for value in option.values -%}
                    
                        {% include 'product-get-options-res-status-page' with option_index0: option_index0 %}
                        {% include 'product-get-options-res-image' %}
                        <div data-id="{{ current_variant_id }}" class="product-options__value product-options__value--circle product-options__value--circle--product-page rounded-circle text-hide cursor-pointer {% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                                {%- if settings.product_format_pjpg -%}
                                    data-master="url({{ option_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '48x', format: 'pjpg' }})"
                                {%- else -%}
                                    data-master="url({{ option_image | img_url: '1x1' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '48x' }})"
                                {%- endif -%}
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="{{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value }}</div>
                    {%- endfor -%}
                </div>               
        </div>
        {% endif %}
        {% if option.name contains "Size" %}
            <div class="popup-size-product">           
            {%- assign clear_name = option.name | escape | downcase -%}
            <div class="product-options__section flex-wrap" data-style="large-text" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}" data-disable-auto-select>
                <div class="guide-container-product">
                <label class="product-option-size" id="product-color-label-{{ current_variant_id }}">{{ option.name }}: </label>
                <a class="guide-link" target="_blank" href="/pages/ring-size-guide" title="Size guide" tabindex="0">
                <span>{{ 'products.product.need_sizing_help' | t }}</span>
                </a>
                </div>
                <div class="product-size-calc">
            {%- for value in option.values -%}            
                {% include 'product-get-options-res-status-page' with option_index0: option_index0 %}
                <div class="product-options__calc_value product-options__value product-options__value--large-text d-flex flex-center border cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                     data-js-option-value
                     data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                        {{ trigger_attr }}
                     data-bg="none"
                     data-scale="2"
                     data-id="{{ current_variant_id }}"
                >{{ value | remove: "Size " }}</div>
            {%- endfor -%}
                </div>                  
            </div>              
            </div>
        {% endif %}
    {%- endfor -%}
</div>
{%- endunless -%}
{%- assign change_history = false -%}
{%- assign trigger = null -%}
{%- assign trigger_id = null -%}