<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
{% capture document %}
<head>
  {% include 'head' %}
  {% capture get_content_for_header %}
  {{ content_for_header }}
  {% endcapture %}
</head>
<body{% include 'layout-get-body-attributes' %}>
{%- if settings.layout_enable_preloader -%}
  {% include 'layout-get-preloader' with is_fixed: true %}
{%- endif -%}
{% section 'password-page-header' %}
<main role="main" id="MainContent">
  <div class="container">
    {{ content_for_layout }}
  </div>
</main>
{% section 'password-page-footer' %}
{% section 'popup' %}
{% section 'footbar' %}
{% include 'fixed-sidebar' %}
{% include 'layout-get-includes' %}
{% include 'layout-get-version' %}
{% endcapture %}
{{ document | strip_newlines | replace: '   ', ' ' | replace: '  ', ' ' }}
{% capture get_content_for_header %}
{%- if settings.dev_enable_content_for_header -%}
  {{ get_content_for_header }}
{%- endif -%}
{% endcapture %}
{{ get_content_for_header | replace: '   ', ' ' | replace: '  ', ' ' }}
</body>
</html>


