{%- assign number_of_comments = article.comments_count -%}
{%- if comment and comment.status != 'published' -%}
  {%- assign number_of_comments = article.comments_count | plus: 1 -%}
{%- endif -%}
<div data-section-id="{{ section.id }}" data-section-type="article-body">
  <article class="article-body mt-30" role="article" itemscope itemtype="http://schema.org/Article">
    <header class="mb-25 text-center" role="banner">
      <h1 class="h2 mb-0">{{ article.title }}</h1>
      {%- if section.settings.show_information -%}
        {% capture author %}{{ article.author | upcase }}{% endcapture %}
        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
        <p class="mt-15 mb-0 font-italic">{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
      {%- endif -%}
    </header>
    {%- if settings.article_show_sidebar != 'hide' -%}
      {%- if settings.article_show_sidebar != 'hide' and settings.article_sidebar_position == 'dropdown' -%}
        {%- assign desktop_need_button = true -%}
      {%- endif -%}
      {%- if settings.article_show_sidebar == 'desktop_and_mobile' -%}
        {%- assign mobile_need_button = true -%}
      {%- endif -%}
      <div class="{% if mobile_need_button == true %}d-flex{% else %}d-none{% endif %}{% if desktop_need_button == true %} d-lg-flex{% else %} d-lg-none{% endif %} mb-15">
        <div class="article-body__button-sidebar d-flex align-items-center cursor-pointer js-popup-button" data-js-popup-button="sidebar">
          <i class="mr-5">{% include 'icon-theme-084' %}</i>
          {{ 'blogs.general.button_sidebar' | t }}
        </div>
      </div>
    {%- endif -%}
    {%- if section.settings.show_image -%}
      <div class="text-center mb-40">
        {% include 'rimage' with image: article.image size: '1024x1024' format: 'pjpg' alt: article.title attr: 'class="w-100"' %}
      </div>
    {%- endif -%}
    {%- if section.settings.show_content -%}
      <div class="rte" itemprop="articleBody">
        {% include 'content-load-template' content: article.content %}
      </div>
    {%- endif -%}
    {%- if section.settings.show_tags or section.settings.show_addthis -%}
      <div class="clearfix"></div>
      <div class="mt-35">
        {%- if section.settings.show_tags -%}
          <div class="row">
            <div class="col-12 col-md-1 pr-md-5 mb-20 mb-md-0">
              <p class="mt-5 mb-0">{{ 'blogs.article.tags' | t }}</p>
            </div>
            <div class="col-12 col-md-11 d-flex flex-wrap pl-md-5">
              {%- assign tags_class = 'py-4 px-10 mr-10 mb-10 border' -%}
              {%- for tag in blog.all_tags -%}
                {%- if current_tags contains tag -%}
                  <span class="{{ tags_class }}">{{ tag }}</span>
                {%- else -%}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link-revert {{ tags_class }} border-hover">{{ tag }}</a>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.show_addthis -%}
          {% capture addthis_html %}{% include 'addthis' %}{% endcapture %}
          {%- if addthis_html.size > 0 -%}
            <div class="row align-items-center mt-10">
              <div class="col-12 col-md-1 pr-md-5 mb-20 mb-md-0">
                <p class="mb-5">{{ 'blogs.article.share' | t }}</p>
              </div>
              <div class="col-12 col-md-11 pl-md-5">
                {{ addthis_html }}
              </div>
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.settings.show_navigation -%}
      {%- for item in blog.articles -%}
        {%- if article.url == item.url -%}
          {%- assign index = forloop.index0 -%}
        {%- endif -%}
      {%- endfor -%}
      {%- assign prev_post_index = index | minus: 1 -%}
      {%- assign next_post_index = index | plus:1 -%}
      {%- if index > 0 or next_post_index < blog.articles.size -%}
        <div class="article__nav py-55 mt-40 border-top">
          <div class="d-flex">
            {%- if index > 0 -%}
              {%- assign prev_post = blog.articles[prev_post_index] -%}
              <div class="d-flex flex-column w-50">
                <h4 class="h5 mb-10"><a href="{{ prev_post.url }}">{{ prev_post.title }}</a></h4>
                <p class="mt-auto mb-0"><a href="{{ prev_post.url }}" class="link-revert text-underline">{{ 'blogs.article.prev_post' | t }}</a></p>
              </div>
            {%- endif -%}
            {%- if next_post_index < blog.articles.size -%}
              {%- assign next_post = blog.articles[next_post_index] -%}
              <div class="d-flex flex-column w-50 ml-auto text-right">
                <h4 class="h5 mb-10"><a href="{{ next_post.url }}">{{ next_post.title }}</a></h4>
                <p class="mt-auto mb-0"><a href="{{ next_post.url }}" class="link-revert text-underline">{{ 'blogs.article.next_post' | t }}</a></p>
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
    {%- if blog.comments_enabled? and section.settings.show_comments -%}
      {%- if number_of_comments > 0 -%}
        <div class="pt-55 border-top">
          <h3 class="h4 mb-25">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>
          {% paginate article.comments by 5 %}
            <div id="comments" class="pb-40">
              {%- if comment and comment.status and paginate.current_page == 1 -%}
                <div class="note note--success">
                  {%- if blog.moderated? and comment.status != 'published' -%}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {%- else -%}
                    {{ 'blogs.comments.success' | t }}
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- if number_of_comments > 0 -%}
                <ul class="list-unstyled">
                  {%- if comment and comment.status != 'published' -%}
                    {%- assign has_published = true -%}
                    <li id="{{ comment.id }}">
                      <p class="mb-10 font-italic">{{ comment.author }}</p>
                      <div class="rte">{{ comment.content }}</div>
                    </li>
                  {%- endif -%}
                  {%- for comment in article.comments -%}
                    {%- if has_published or forloop.index0 > 0 -%}
                      <li class="pb-20 border-top border--dashed"></li>
                    {%- endif -%}
                    <li id="{{ comment.id }}">
                      {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
                      <p class="mb-10 font-italic">{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
                      <div class="rte">{{ comment.content }}</div>
                    </li>
                  {%- endfor -%}
                </ul>
                {%- if paginate.pages > 1 -%}
                  {% include 'pagination' with pagination_type: 'classic' %}
                {%- endif -%}
              {%- endif -%}
            </div>
          {% endpaginate %}
        </div>
      {%- endif -%}
      <div class="pt-55 border-top">
        {% form 'new_comment', article, class: 'mb-0' %}
          <h3 class="h4 mb-25">{{ 'blogs.comments.title' | t }}</h3>
          <label for="CommentAuthor" class="label-required">{{ 'blogs.comments.name_title' | t }}</label>
          <input type="text"
                 name="comment[author]"
                 id="CommentAuthor"
                 class="{% if form.errors contains 'author' %}input-error{% endif %}"
                 placeholder="{{ 'blogs.comments.name_placeholder' | t }}"
                 value="{{ form.author }}"
                 autocapitalize="words"
                 required="required">
          <label for="CommentEmail" class="label-required">{{ 'blogs.comments.email_title' | t }}</label>
          <input type="email"
                 name="comment[email]"
                 id="CommentEmail"
                 class="{% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'blogs.comments.email_placeholder' | t }}"
                 value="{{ form.email }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 required="required">
          <label for="CommentBody" class="label-required">{{ 'blogs.comments.message_title' | t }}</label>
          <textarea name="comment[body]"
                    id="CommentBody"
                    class="{% if form.errors contains 'body' %}input-error{% endif %}"
                    rows="8"
                    placeholder="{{ 'blogs.comments.message_placeholder' | t }}"
                    required="required">{{ form.body }}</textarea>
          {%- if blog.moderated? -%}
            <p>{{ 'blogs.comments.moderated' | t }}</p>
          {%- endif -%}
          {% include 'form-get-message' %}
          <div class="pt-10">
            <button type="submit" class="btn btn--secondary"><i class="mr-5">{% include 'icon-theme-196' %}</i>{{ 'blogs.comments.post' | t }}</button>
          </div>
        {% endform %}
      </div>
    {%- endif -%}
  </article>
  {%- if section.blocks.size > 0 -%}
    {% capture slider_html %}
      {%- assign sliders_length = 0 -%}
      <div class="article-slider d-none mb-20 invisible">
        <div class="article-slider__slick" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.speed | times: 1000 }}" data-infinite="{{ section.settings.infinite }}">
          {%- for block in section.blocks -%}
            {%- if block.settings.for_article == blank or block.settings.for_article == article.handle -%}
              {%- assign sliders_length = sliders_length | plus: 1 -%}
              <div>
                {%- assign image_alt = block.settings.image.alt | default: block.settings.title -%}
                {% include 'rimage' image: block.settings.image size: '770x' alt: image_alt %}
                {%- if block.settings.title != blank -%}
                  <div class="mt-10 text-center">{{ block.settings.title }}</div>
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="article-slider__dots"></div>
      </div>
    {% endcapture %}
  {%- endif -%}
  {%- if sliders_length > 0 -%}
    {{ slider_html }}
  {%- endif -%}
</div>

<script>
  Loader.require({type: "script", name: "plugin_slick"});
  Loader.require({type: "script", name: "article_body"});
</script>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_information",
      "label": "Show information",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show content",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_addthis",
      "label": "Show AddThis",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show comments",
      "default": true
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "paragraph",
      "content": "To add a slider, you must insert the code '<div id=\"article-slider\"></div>' to the post's content. This can be any place where you want to place a slider."
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "sec",
      "label": "Autoplay speed",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Is infinite",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "article",
          "id": "for_article",
          "label": "For article"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title for image"
        }
      ]
    }
  ]
}
{% endschema %}
