<style>
.main-text-about-us{
    font-family: "Kumbh Sans", sans-serif;
    color: #373A36;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}
.main-title-about-us{
    color: #373A36;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 46px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}
.main-title-about-us em{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}
.main-subtitle-about-us{
    padding: 20px 0 40px 0;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #373936;
    max-width: 480px;
    margin: 0 auto;
}
.main-section-about-us{
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px 30px 0;
    box-sizing: content-box;
}
.mob_img_about-us{
    display: none;
}
@media (max-width: 1024px){
    .main-title-about-us em{
        font-size: 40px;
    }
    .main-title-about-us{
        font-size: 35px;
    }
}
@media(max-width: 1023px){
    .main-section-about-us{
        max-width: 600px;
    }
}
@media (max-width: 767px){
    .main-title-about-us{
        display: none;
    }
    .main-subtitle-about-us{
        padding: 20px 0 15px 0;
    }
    .main-section-about-us{
        padding: 20px 20px 0;
    }
    .main-text-about-us em{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-style: Italic;
        font-size: 46px;
        line-height: 46px;
        letter-spacing: 0;
        text-align: center;
        text-transform: capitalize;
    }
    {% if section.settings.main_img_mob != blank %}
        .desk_img_about-us{
            display: none;
        }
    {% endif %}
    .mob_img_about-us{
        display: block;
        max-height: 350px;
        width: fit-content;
        margin: auto;
    }
}
@media (min-width: 768px){
    .main-text-about-us{
        display: none;
    }
}
</style>
<section class="main-section-about-us">
    {% if section.settings.main_text != blank %}
        <h2 class="main-text-about-us">{{ section.settings.main_text }}</h2>
    {% endif %}
    {% if section.settings.main_title != blank %}
        <div class="main-title-about-us">{{ section.settings.main_title }}</div>
    {% endif %}
    {% if section.settings.main_subtitle != blank %}
        <div class="main-subtitle-about-us">{{ section.settings.main_subtitle }}</div>
    {% endif %}
    {% if section.settings.main_img != blank %}
        {{ section.settings.main_img | image_url: width: section.settings.main_img.width | image_tag: class: "desk_img_about-us" }}
    {% endif %}
    {% if section.settings.main_img_mob != blank %}
        {{ section.settings.main_img_mob | image_url: width: section.settings.main_img_mob.width | image_tag: class: "mob_img_about-us" }}
    {% endif %}
</section>
{% schema %}
{
    "name": "Main banenr",
    "settings": [
        {
            "type": "image_picker",
            "id": "main_img",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "main_img_mob",
            "label": "Image mobile"
        },
        {
            "type": "richtext",
            "id": "main_text",
            "label": "Text"
        },
        {
            "type": "richtext",
            "id": "main_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "main_subtitle",
            "label": "Subtitle"
        },
    ],
    "presets": [
        {
            "name": "Main banenr"
        }
    ]
}
{% endschema %}