{{ 'collection-main.css' | asset_url | stylesheet_tag }}

<section>
    <div class="main-block-collections">
        {% if section.settings.title != blank %}
            {{ section.settings.title }}
        {% endif %}
        {% if section.settings.button_text != blank and section.settings.button_url != blank %}
            <a class="button-all-collection" href='{{ section.settings.button_url }}'>{{section.settings.button_text}}</a>
        {% endif %}
    </div>
    <div class="main-swiper-collection">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper swiper-wrapper-collection">
                {% for collection in collections %}
                    {% if collection.image %}
                        <div class="swiper-slide">
                            <a href="{{ collection.url }}">
                                <img src="{{ collection.image | img_url: '400x400' }}" alt="{{ collection.title }}">
                                <p class="main-title-collection">{{ collection.title }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
        <div class="swiper-pagination"></div>
          </div>
        <div class="swiper-button-next"><img src="{{ 'Vector.svg' | asset_url }}" alt="Next" /></div>
        <div class="swiper-button-prev"><img src="{{ 'Vector.svg' | asset_url }}" alt="Prev" /></div>
    </div>
</section>

{{ 'collection-main.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Shop by collections",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>Gemstone Collection</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "SHOP ALL"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
  ],
  "presets": [
    {
      "name": "Shop by collections"
    }
  ]
}
{% endschema %}
