<style>
.mySwiper.mySwiperCollection{
    padding-left: 20px;
}
.swiper-slide.container-main-collection{
    width: 170px !important;
}
.swiper-slide.container-main-collection .product-card img{
    border-radius: 10px;
    height: 180px;
    width: 170px;
}
.swiper-slide.container-main-collection .product-card{
    gap: 10px;
}
.main-title-collection-product{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 26px;
    overflow: hidden;
}
.main-description-collection-product{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #37393699;
    line-height: 16px;
}
.swiper-slide.container-main-collection .product-card img{
    display: none;
}
.swiper-slide.container-main-collection .product-card img:first-child{
    display: inline-flex;
}
.price-collection-main{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.compare_price-collection-main{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: line-through;
    color: #37393633;
}
.variant-button-collection-main{
    width: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin: 0 auto;
}
.variant-button-collection-main img{
    width: 24px;
    height: 24px !important;
}
.ring-2.variant-button-collection-main{
    border: 1px solid #373A3666;
}
.submit-button-collection{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    width: 100%;
    border: 1px solid #C5C1C0;
    height: 37px;
    border-radius: 4px;
    font-size: 14px;
}
.main-title-collection-products{
    margin: 0 auto;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 34px;
}
.main-title-collection-products em{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 40px;
}
.button-collection-products{
    background: #232222;
    color: white;
    min-width: 129px;
    height: 37px;
    width: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid;
    transition: all 0.3s ease; 
}
.button-collection-products:hover{
    background: none !important;
    color: #373A36 !important;
    border-color:#C5C1C0 !important;
}
div.swiper-button-prev-collection,
div.swiper-button-next-collection{
    display: none;
}
.conatiner-collection-main{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}
.mySwiperCollection{
        padding-bottom: 33px;
}
.swiper-button-prev-collection{
    position: absolute;
    top: 210px;
    left: -34px;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    border: 1px solid #37393633;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next-collection{
    position: absolute;
    right: -34px;
    top: 209px;
    width: 24px;
    height: 24px;
    border: 1px solid #37393633;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-star img{
    width: 15px !important;
    height: 14px !important;
}
.container-star{
    display: inline-flex;
    gap: 2px;
    padding-right: 1px;
    position: relative;
    bottom: 1px;
}
.conatainer-first-star{
    height: 13px;
}
.reviews_text{
    color: #373A36CC;
    font-weight: 400;
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    display: inline-block;
    position: relative;
    bottom: 3px;
}
.number-reviews{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #37393666;
    position: relative;
    left: 6px;
    bottom: 3px;
}
.swiper-pagination-collections.swiper-pagination-clickable{
    margin: 0 auto;
    position: absolute;
    display: inline-flex;
    justify-content: center;
}
.swiper-pagination-collections.swiper-pagination-clickable .swiper-pagination-bullet{
    width: 62px;
    border-radius: 2px;
    background: #373A3699;
    height: 3px;
}

.main-container-block{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show-more-variants img{
    height: 10px !important;
    width: 10px !important;
}
.show-more-variants{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    bottom: 8px;
    left: 1.2px;
}
.conatiner-collection-main{
  display: none;
}
.mobile-cart-collection-main .container-main-collection .submit-button-collection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.mobile-cart-collection-main .container-main-collection .price-collection-main{
    font-family: "Kumbh Sans", sans-serif;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 4px;
    background: #00000040;
    padding: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 12px;
    line-height: 12px;
    color: white;
}
.mobile-cart-collection-main .container-main-collection .main-title-collection-product{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  height: 68px;
  overflow: hidden;
  padding: 8px 0 5px;
}
.mobile-cart-collection-main .container-main-collection .main-description-collection-product{
  text-align: center;
  padding-bottom: 15px;
  height: auto;
  overflow: hidden;
  font-size: 12px;
}
.mobile-cart-collection-main .container-main-collection .product-card{
  gap: 0;
}
.mobile-cart-collection-main .container-main-collection .add-to-cart-form{
    position: absolute;
    width: 34px;
    height: 34px;
    right: 4px;
    top: 4px;
}
.mobile-cart-collection-main .container-main-collection svg{
    position: absolute;
    width: 34px;
    color: white;
    height: 34px;
    right: 4px;
    top: 4px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 4px;
    background: #00000040;
    padding: 4px;
}
.mobile-cart-collection-main .container-main-collection .main-product-image{
  border-radius: 8px;
}
.mobile-cart-collection-main .container-main-collection{
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 11px;
  box-shadow: 0 3px 4px #ffffff80;
  padding: 4px;
}
.mobile-cart-collection-main{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
}
@media (min-width: 768px){
  .conatiner-collection-main{
    display: grid;
  }
  .mobile-cart-collection-main{
    display: none;
  }
    .main-title-collection-products em{
        font-size: 47px;
    }
    .mySwiper.mySwiperCollection{
        padding-left: 0px;
        padding-bottom: 0;
    }
    .main-title-collection-products{
        margin: 0;
        font-size: 40px;
    }
    .button-collection-products{
        display: flex;
    }
    .main-container-block{
        max-width: 660px;
        padding-bottom: 21px;
        line-height: normal;
        padding-bottom: 29px;
    }
    .conatiner-collection-main{
        padding-bottom: 0;
    }
    .swiper-pagination-collections.swiper-pagination-clickable,
    .swiper-pagination-collections{
    display: none;
}
    .swiper-slide.container-main-collection .product-card img{
        display: inline-block;
    }
    .swiper-slide.container-main-collection .product-card img{
        height: 230px;
        width: 100%;
    }
    .variant-button-collection-main{
        width: 30px;
        height: 30px;
    }
    div.swiper-button-prev-collection,
    div.swiper-button-next-collection{
        display: inline-flex;
    }
    .conatiner-collection-main{
         width: fit-content;
    }
    .swiper-wrapper.swiper-wrapper-main-collection{
        padding-left: 0px;
    }
    .swiper-slide.container-main-collection{
          width: 211px !important;
    }
}
@media (min-width: 1024px){
    .main-container-block{
        max-width: 900px;
    }
    .swiper-slide.container-main-collection{
      width: 217px !important;
    }
}
@media (min-width: 1440px){
    .main-container-block{
        max-width: 1280px;
    }
    .swiper-slide.container-main-collection{
          width: 248px !important;
    }
}
.hidden-variant {
  display: none;
}
.section-{{ section.id }}{
    padding-top: {{ section.settings.top_padding }}px;
    padding-bottom: {{ section.settings.bottom_padding }}px;
}

</style>
<section class="collection-section section-{{ section.id }}">
  <div class="main-container-block">
    {% if section.settings.title != blank %}
      <div class="main-title-collection-products">{{ section.settings.title }}</div>
    {% endif %}

    {% if section.settings.button_link != blank and section.settings.button_text != blank %}
      <a class="button-collection-products" href="{{ section.settings.button_link }}">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
  <div class="conatiner-collection-main">
    <div class="swiper mySwiper mySwiperCollection">
      <div class="swiper-wrapper swiper-wrapper-main-collection">
        {% assign collection = collections[section.settings.collection] %}
        
        {% if collection and collection.products.size > 0 %}
          {% for product in collection.products %}
            <div class="swiper-slide container-main-collection">
              <div class="product-card bg-white shadow-md rounded-2xl p-4 flex flex-col items-center">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | img_url: '400x' }}" 
                     alt="{{ product.title }}" 
                     class="main-product-image mb-4 rounded-xl"/>
                </a>
                <div class="conatainer-first-star">
                  <div class="container-star">
                    <img class="main-star" src="{{ 'star.svg' | asset_url }}" alt="Star" />
                    <img class="main-star" src="{{ 'star.svg' | asset_url }}" alt="Star" />
                    <img class="main-star" src="{{ 'star.svg' | asset_url }}" alt="Star" />
                    <img class="main-star" src="{{ 'star.svg' | asset_url }}" alt="Star" />
                    <img class="main-star" src="{{ 'iconStar.svg' | asset_url }}" alt="Star" />
                  </div>
                  <p class="reviews_text">4.72/5.00</p><span class="number-reviews">(324 reviews)</span>
                </div> 
                <h3 class="main-title-collection-product">
                  {{ product.title  }}
                </h3>
                
                <p class="main-description-collection-product">
                  {{ product.description | strip_html | truncate: 40 }}
                </p>
                
                <div class="flex items-center gap-2 mb-3">
                  <span class="price-collection-main">{{ product.price | money }}</span>
                  {% if product.compare_at_price > product.price %}
                    <span class="compare_price-collection-main">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
                
                <div class="flex justify-center gap-2 mb-4 variant-thumbs-wrapper">
                  {% assign assigned_images = '' %}
                  {% assign first_variant_id = product.variants.first.id %}
                  {% assign variant_count = 0 %}
                  
                  {% for option_value in product.options_with_values[0].values %}
                    {% assign variant = product.variants | where: 'option1', option_value | first %}
                    
                    {% if variant.featured_image %}
                      {% unless assigned_images contains variant.featured_image.src %}
                        {% assign variant_count = variant_count | plus: 1 %}
                        
                        <button type="button"
                          class="
                            variant-button-collection-main variant-thumb w-8 h-8 rounded-full 
                            overflow-hidden border-gray-300 hover:border-black 
                            {% if forloop.index == 1 %}ring-2 ring-black{% endif %} 
                            {% if variant_count > 5 %}hidden-variant{% endif %}"
                            data-image="{{ variant.featured_image.src | img_url: '400x' }}"
                            data-variant-id="{{ variant.id }}"
                        >
                          <img src="{{ variant.featured_image.src | img_url: '100x100' }}" alt="{{ option_value }}">
                        </button>
                      
                        {% assign assigned_images = assigned_images | append: variant.featured_image.src | append: ',' %}
                      
                      {% endunless %}
                    {% endif %}
                  {% endfor %}
                  
                  {% if variant_count > 5 %}
                    <button type="button" class="show-more-variants text-sm px-2 py-1 border rounded"><img src="{{ 'Vector1.svg' | asset_url }}" alt="Vectoe" /></button>
                  {% endif %}
                </div>
                
                <form method="post" action="/cart/add" class="add-to-cart-form">
                  <input type="hidden" name="id" value="{{ first_variant_id }}" class="variant-input">
                    <button 
                      type="submit" 
                      class="submit-button-collection bg-black text-white rounded-xl px-6 py-2 hover:bg-gray-800 transition"
                    >
                      ADD TO CART
                    </button>
                  </form>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        
        <div class="swiper-pagination-collections"></div>
      </div>
      
      <div class="swiper-button-next-collection"><img src="{{ 'Vector.svg' | asset_url }}" alt="Next" /></div>
      <div class="swiper-button-prev-collection"><img src="{{ 'Vector.svg' | asset_url }}" alt="Prev" /></div>
  </div>
  <div class="mobile-cart-collection-main">
    {% for product in collection.products %}
            <div class=" container-main-collection">
              <div class="product-card bg-white shadow-md rounded-2xl p-4 flex flex-col items-center">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | img_url: '400x' }}" 
                     alt="{{ product.title }}" 
                     class="main-product-image mb-4 rounded-xl"/>
                </a>
                <form method="post" action="/cart/add" class="add-to-cart-form">
                  <input type="hidden" name="id" value="{{ first_variant_id }}" class="variant-input">
                    <button 
                      type="submit" 
                      
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256" class="instant-icon">
                    <title>shopping-cart</title><path d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"></path>
                  </svg>
                    </button>
                  </form>
                <h3 class="main-title-collection-product">
                  {{ product.title  }}
                </h3>
                
                <p class="main-description-collection-product">
                  {{ product.description | strip_html | truncate: 40 }}
                </p>
                
                <div class="flex items-center gap-2 mb-3">
                  <span class="price-collection-main">{{ product.price | money }}</span>
                  {% if product.compare_at_price > product.price %}
                    <span class="compare_price-collection-main">{{ product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
                

                                <a class="submit-button-collection bg-black text-white rounded-xl px-6 py-2 hover:bg-gray-800 transition" href="{{ product.url }}">
                                  BUY
                                </a>
                </div>
              </div>
            {% endfor %}
  </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('.product-card').forEach(card => {
    const mainImg = card.querySelector('.main-product-image');
    const variantInput = card.querySelector('.variant-input');

    const variantThumbs = card.querySelectorAll('.variant-thumb');
    variantThumbs.forEach((btn, index) => {
      btn.addEventListener('click', () => {
        const imgSrc = btn.dataset.image;
        if (mainImg) mainImg.src = imgSrc;

        const variantId = btn.dataset.variantId;
        if (variantInput) variantInput.value = variantId;

        variantThumbs.forEach(b => b.classList.remove('ring-2', 'ring-black'));
        btn.classList.add('ring-2', 'ring-black');
      });

      if (index === 0 && variantInput) {
        variantInput.value = btn.dataset.variantId;
      }
    });

    const showMoreBtn = card.querySelector('.show-more-variants');
    if (showMoreBtn) {
      showMoreBtn.addEventListener('click', () => {
        card.querySelectorAll('.hidden-variant').forEach(el => el.classList.remove('hidden-variant'));
        showMoreBtn.remove();
      });
    }
  });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('.mySwiper').forEach(swiperEl => {
    const swiperInstance = new Swiper(swiperEl, {
      slidesPerView: 'auto',
      spaceBetween: 10,
      pagination: {
        el: swiperEl.querySelector('.swiper-pagination-collections'),
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next-collection',
        prevEl: '.swiper-button-prev-collection',
      },
    });

    swiperEl.querySelectorAll('.product-card').forEach(card => {
      const mainImg = card.querySelector('.main-product-image');
      const variantInput = card.querySelector('.variant-input');

      card.querySelectorAll('.variant-thumb').forEach((btn, index) => {
        btn.addEventListener('click', () => {
          const imgSrc = btn.dataset.image;
          if (mainImg) mainImg.src = imgSrc;

          const variantId = btn.dataset.variantId;
          if (variantInput) variantInput.value = variantId;

          card.querySelectorAll('.variant-thumb').forEach(b => b.classList.remove('ring-2', 'ring-black'));
          btn.classList.add('ring-2', 'ring-black');
        });

        if (index === 0 && variantInput) {
          variantInput.value = btn.dataset.variantId;
        }
      });
    });
  });
});

</script>



{% schema %}
{
  "name": "Collection products",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Текст кнопки",
      "default": "ADD TO CART"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Посилання кнопки"
    },
    {
  "type": "range",
  "id": "top_padding",
  "label": "Відступ зверху (px)",
  "min": 0,
  "max": 200,
  "step": 10,
  "default": 40
},
{
  "type": "range",
  "id": "bottom_padding",
  "label": "Відступ знизу (px)",
  "min": 0,
  "max": 200,
  "step": 10,
  "default": 40
}
  ],
  "presets": [
    {
      "name": "Collection products"
    }
  ]
}
{% endschema %}
