{{ 'hero-banner.css' | asset_url | stylesheet_tag }}

<section class="hero-banner">
    {% if section.blocks.size == 1 %}
        {% assign block = section.blocks[0] %}
            <div class="hero-single hero-{{ block.id }}">
                <div class="hero-content">
                    <h2 class="main-title-banner">{{ block.settings.main_text }}</h2>
                    <div class="main-description-banner">{{ block.settings.main_description }}</div>
                    {% if block.settings.button_text != blank %}
                        <a class="main-button-banner" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                    {% endif %}
                </div>
            </div>
            <style>
                .hero-{{ block.id }} .main-title-banner,
                .hero-{{ block.id }} .main-description-banner{
                    color: {{ block.settings.color_text }}
                }
                .hero-{{ block.id }} {
                    background-image: url({{ block.settings.banner_img_desk | img_url: 'master' }});
                }
                
                @media (max-width: 768px) {
                    .hero-{{ block.id }} .main-title-banner,
                    .hero-{{ block.id }} .main-description-banner{
                        color: {{ block.settings.color_text_mob }}
                    }
                    .hero-{{ block.id }} {
                        background-image: url({{ block.settings.banner_img_mob | img_url: 'master' }});
                    }
                }
            </style>
        {% elsif section.blocks.size > 1 %}
            <div class="swiper hero-swiper">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <div class="hero-single hero-{{ block.id }}">
                                <div class="hero-content">
                                    <h2 class="main-title-banner">{{ block.settings.main_text }}</h2>
                                    <div class="main-description-banner">{{ block.settings.main_description }}</div>
                                    {% if block.settings.button_text != blank %}
                                        <a class="main-button-banner" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <style>
                            .hero-{{ block.id }} .main-title-banner,
                            .hero-{{ block.id }} .main-description-banner{
                                color: {{ block.settings.color_text }}
                            }
                            .hero-{{ block.id }} {
                                background-image: url({{ block.settings.banner_img_desk | img_url: 'master' }});
                            }

                            @media (max-width: 768px) {
                                .hero-{{ block.id }} .main-title-banner,
                                .hero-{{ block.id }} .main-description-banner{
                                    color: {{ block.settings.color_text_mob }}
                                }
                                .hero-{{ block.id }} {
                                    background-image: url({{ block.settings.banner_img_mob | img_url: 'master' }});
                                }
                            }
                        </style>
                    {% endfor %}
                </div>
            <div class="swiper-pagination custom-progress"></div>
        </div>
    {% endif %}
</section>

{{ 'hero-banner.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Herro banner",
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_img_desk",
          "label": "Image desktop",
        },
        {
          "type": "image_picker",
          "id": "banner_img_mob",
          "label": "Image mobile",
        },
        {
          "type": "text",
          "id": "main_text",
          "label": "Title",
        },
        {
          "type": "richtext",
          "id": "main_description",
          "label": "Description",
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP ALL"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Text color desktop"
        },
        {
            "type": "color",
            "id": "color_text_mob",
            "label": "Text color mobile"
        },
      ]
    },
  ],
  "presets": [
    {
        "name": "Herro banner"
    }
  ]
}
{% endschema %}
