<div data-section-id="{{ section.id }}" data-section-type="password-page-header"{% include 'layout-get-container-class' with boxed_without_paddings: true %}>
    <header id="header" class="header position-relative d-flex align-items-center p-20">
        <div class="header__logo w-100" style="max-width: {{ section.settings.logo_width }}px;">
            <h1 class="logo h6 m-0" itemscope itemtype="http://schema.org/Organization">
                <div class="{% if section.settings.logo != blank or section.settings.logo_svg %} text-hide{% endif %}" itemscope itemtype="http://schema.org/Organization">
                    {%- capture image_attr -%}itemprop="logo"{%- endcapture -%}
                    {%- capture image_size -%}{{ section.settings.logo_width | times: 2 }}x{%- endcapture -%}
                    {%- if section.settings.logo_svg -%}
                        {%- if section.settings.logo_svg_code != blank -%}
                            {{ section.settings.logo_svg_code }}
                        {%- else -%}
                            <img src="{{ 'logo.svg' | asset_url }}" class="lazyload" alt="{{ shop.name }}" {{ image_attr }}>
                        {%- endif -%}
                    {%- elsif section.settings.logo != blank -%}
                        {% include 'rimage' with image: section.settings.logo size: image_size scale: 2 alt: shop.name attr: image_attr %}
                    {%- endif -%}
                    {{ shop.name }}
                </div>
            </h1>
        </div>
        <div class="position-lg-relative py-5 ml-auto js-dropdown">
            <div class="header__btn-password cursor-pointer js-popup-button" data-js-dropdown-button data-js-popup-button="password">
                <i>{% include 'icon-theme-157' %}</i>
            </div>
            <div class="header__password header__dropdown dropdown position-lg-absolute d-none top-lg-100 right-lg-0 mt-0" data-js-dropdown>
                <div class="w-100 px-15 pb-30 p-lg-20" data-js-position-desktop="password">
                    <div class="js-position" data-js-position-name="password">
                        {% form 'storefront_password', class: 'mb-0' %}
                            <label for="PopupAccountSubscribe" class="label-required">{{ section.settings.password_label }}</label>
                            <input type="password"
                                   class="mb-10"
                                   name="password"
                                   id="Password"
                                   placeholder="{{ section.settings.password_placeholder }}"
                                   required="required">
                            <input type="submit" name="commit" class="btn btn--full mb-0" value="{{ section.settings.password_button_text }}">
                            {% include 'form-get-message' %}
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "range",
            "id": "logo_width",
            "min": 50,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Logo image width",
            "default": 64
        },
        {
            "type": "checkbox",
            "id": "logo_svg",
            "label": "SVG logo",
            "default": true
        },
        {
            "type": "textarea",
            "id": "logo_svg_code",
            "label": "Code of SVG logo",
            "info": "default file is - 'assets/logo.svg'"
        },
        {
            "type": "header",
            "content": "Password"
        },
        {
            "type": "text",
            "id": "password_label",
            "label": "Label",
            "default": "PASSWORD"
        },
        {
            "type": "text",
            "id": "password_placeholder",
            "label": "Placeholder",
            "default": "******"
        },
        {
            "type": "text",
            "id": "password_button_text",
            "label": "Button text",
            "default": "LOGIN"
        }
    ]
}
{% endschema %}