{%- if section.settings.image != blank or section.blocks.size > 0 -%}
  {{ 'x-section-promotion.css' | asset_url | stylesheet_tag }}

  {%- comment -%}
    ------------------------------------------------------------------------------------------------------------------------
    CSS
    ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <style>
    #shopify-section-{{ section.id }} {
      --image-with-text-content-max-width: {% if section.settings.content_width == 'sm' %}430px{% elsif section.settings.content_width == 'md' %}550px{% else %}100%{% endif %};
    }
  </style>

  {%- comment -%}
    ------------------------------------------------------------------------------------------------------------------------
    LIQUID
    ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient
    | default: section.settings.color_scheme.settings.background
    | md5
  -%}

  <div class="section-style--{{ section.settings.section_style }} {% unless section.settings.remove_vertical_spacing %}section-spacing{% endunless %} color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
    <image-with-text class="image-with-text {% if section.settings.image_position == 'end' %}image-with-text--reverse{% endif %}">
      <div class="prose text-center">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'subheading' -%}
              {%- if block.settings.text != blank -%}
                <p class="h6" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
              {%- endif -%}

            {%- when 'heading' -%}
              {%- if block.settings.text != blank -%}
                <p class="{{ block.settings.heading_tag }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
              {%- endif -%}

            {%- when 'richtext' -%}
              {%- if block.settings.content != blank -%}
                <div class="image-with-text__richtext image-with-text__richtext--{{ block.settings.style }}" {{ block.shopify_attributes }}>
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}

            {%- when 'page' -%}
              {%- if block.settings.page.content != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.page.content -}}
                </div>
              {%- endif -%}

            {%- when 'liquid' -%}
              {%- if block.settings.liquid != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.liquid -}}
                </div>
              {%- endif -%}

            {%- when 'link' -%}
              <a
                {% if block.settings.url %}
                  href="{{ block.settings.url }}"
                {% endif %}
                class="link"
                {{ block.shopify_attributes }}
              >
                {{- block.settings.text | escape -}}
              </a>

            {%- when 'button' -%}
              {%- if block.settings.text != blank -%}
                {% render 'button',
                  content: block.settings.text,
                  href: block.settings.url,
                  style: block.settings.style,
                  background: block.settings.background,
                  text_color: block.settings.text_color,
                  block: block
                %}
              {%- endif -%}

            {%- when 'form' -%}
              {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}

              {%- form 'customer', id: newsletter_form_id, class: 'form justify-self-center' -%}
                {%- if form.posted_successfully? -%}
                  {%- assign success_message = 'general.newsletter.subscribed_successfully' | t -%}
                  {%- render 'banner', content: success_message, status: 'success', text_alignment: 'center' -%}
                {%- else -%}
                  {%- if form.errors -%}
                    {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                    {%- render 'banner', content: error_message, status: 'error', text_alignment: 'center' -%}
                  {%- endif -%}

                  <input type="hidden" name="contact[tags]" value="newsletter">

                  <div class="form-control__wrapper">
                    {% render 'icons', icon: 'mail' %}
                    {%- assign label = block.settings.placeholder -%}
                    {%- render 'input',
                      type: 'email',
                      name: 'contact[email]',
                      label: label,
                      required: true,
                      autocomplete: 'email'
                    -%}
                  </div>

                  {%- assign button_content = block.settings.submit_text -%}
                  {%- render 'button', content: button_content, type: 'submit' -%}
                {%- endif -%}
              {%- endform -%}

            {%- when 'note' -%}
              {%- if block.settings.content != blank -%}
                <div {{ block.shopify_attributes }} class="note">
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="image-with-text__media-wrapper">
        {%- if section.settings.image != blank -%}
          <picture>
            {%- assign sizes = '(max-width: 699px) 100vw, 50vw' -%}

            {%- if section.settings.mobile_image != blank -%}
              <source
                media="(max-width: 699px)"
                srcset="{{ section.settings.mobile_image | image_url: width: 400 }} 400w, {{ section.settings.mobile_image | image_url: width: 600 }} 600w, {{ section.settings.mobile_image | image_url: width: 800 }} 800w, {{ section.settings.mobile_image | image_url: width: 1000 }} 1000w"
                width="{{ section.settings.mobile_image.width }}"
                height="{{ section.settings.mobile_image.height }}"
              >
            {%- endif -%}

            {{-
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag:
                sizes: sizes,
                widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                reveal-on-scroll: section.settings.reveal_on_scroll
            -}}
          </picture>
        {%- else -%}
          {{- 'image' | placeholder_svg_tag: 'placeholder' -}}
        {%- endif -%}
      </div>
    </image-with-text>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.promotion.name",
  "class": "shopify-section--image-with-text shopify-section--promotion",
  "tag": "section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Style",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "t:sections.promotion.image_size_recommendation"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:global.image.mobile_image",
      "info": "t:sections.promotion.mobile_image_size_recommendation"
    },
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "t:global.animation.reveal_image_on_scroll",
      "default": true
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.promotion.image_position",
      "options": [
        {
          "value": "start",
          "label": "t:global.position.left"
        },
        {
          "value": "end",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "t:global.spacing.remove_vertical_spacing",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.promotion.blocks.subheading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.promotion.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.promotion.blocks.paragraph.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "normal"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.promotion.blocks.page.name",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.promotion.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid",
          "default": "<p>Write custom Liquid code to include widget or dynamic code.</p>"
        }
      ]
    },
    {
      "type": "link",
      "name": "t:sections.promotion.blocks.link.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.promotion.blocks.button.name",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            }
          ],
          "default": "solid"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        },
        {
          "type": "color",
          "id": "background",
          "label": "t:global.colors.background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:global.text.text"
        }
      ]
    },
    {
      "type": "form",
      "name": "t:sections.promotion.blocks.form.name",
      "settings": [
        {
          "type": "text",
          "id": "placeholder",
          "label": "t:sections.promotion.blocks.form.settings.placeholder",
          "default": "Enter your Email"
        },
        {
          "type": "text",
          "id": "submit_text",
          "label": "t:sections.promotion.blocks.form.settings.submit",
          "default": "Get my 20% off"
        }
      ]
    },
    {
      "type": "note",
      "name": "t:sections.promotion.blocks.note.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>No Spam</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.promotion.presets.promotion.name",
      "category": "t:global.categories.media",
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "text": "Subheading"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Image with text"
          }
        },
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}
