<style>
.playBtn{
  cursor: pointer;
}
.main-title{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 0;
  text-align: center;
}
.main-title em{
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -1px;
}
.video-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.desktop-swiper-card-main{
  display: none;
}
.mobile-swiper-card-main{
  margin-left: 20px;
}
@media (max-width: 768px){
  .mobile-swiper-card-main{
    margin-bottom: 20px;
  }
}
.mobile-swiper-card-main .video-item video{
  height: 280px;
  width: 203px;
  object-fit: cover;
  border-radius: 10px;
}
.mobile-swiper-card-main .swiper-slide{
  max-width: 203px;
}
.mobile-swiper-card-main .swiper-pagination-bullet{
  background: #373A3699 !important;
}
.mobile-swiper-card-main .swiper-pagination-bullet-active{
  width: 62px;
  height: 2px;
  border-radius: 6px;
}
.mobile-swiper-card-main .swiper-pagination{
  position: relative;
  top: 5px;
}
.mobile-swiper-card-main  .swiper-pagination-bullet{
  width: 62px;
  height: 2px;
  border-radius: 6px;
  background: #373A3633
}
.video-item .start_video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  background: #373A3699;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-link-video{
  position: absolute;
  top: 10px;
  right: 10px;
  background: #373A3699;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px){
  .main-link-video{
    top: 20px;
    right: 19px;
  }
  .main-title{
    font-size: 40px;
  }
  .main-title em{
    font-size: 47px;
  }
  .desktop-swiper-card-main{
    display: grid;
  }
  .mobile-swiper-card-main{
    display: none;
  }
  .video-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    padding: 0 89px;
  } 
}
@media (min-width: 1024px){
  .video-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    padding: 0 89px;
    padding-bottom: 14px
  } 
}
@media (min-width: 1440px){
  .video-wrapper {
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    gap: 10px;
    padding-bottom: 14px
  } 
  .video-item video {
    width: 312px;
    height: 620px;
    border-radius: 8px;
    object-fit: cover;
  }
  .video-item.video-item-tiktok video{
    height: 490px;
  }
}
.video-item.video-item-tiktok video{
  object-fit: cover;
  height: 320px;
  width: 100%;
}
.video-item video { 
  border-radius: 8px;
  object-fit: cover;
}
.video-item{
  position: relative;
}
.video-item .start_video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  background: #373A3699;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
<section>
  {% if section.settings.main_title %}
    <div class="main-title">
      {{ section.settings.main_title }}
    </div>
  {% endif %}

  <div class="video-wrapper grid desktop-swiper-card-main">
    {% for block in section.blocks %}
      <div class="video-item">
        <video class="myVideo" src="{{block.settings.video_file.sources[1].url}}" loop muted playsinline></video>
      
        {% if block.settings.main_url != blank %}
          <a class="main-link-video" href='{{ block.settings.main_url }}'>
            <img src="{{ 'Vector112.svg' | asset_url }}" alt="Icon"/>
          </a>
        {% endif %}
        <div class="start_video">
          
          {{ "Vector1234.svg" | asset_url | img_tag: "Play Icon", "playBtn" }}
          {% comment %} <img class="playBtn" src="{{ 'Vector12.png' | asset_url }}" alt="Play Icon" style="cursor: pointer;" /> {% endcomment %}
          <svg class="pauseBtn" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" style="color: white; cursor:pointer; display:none;" viewBox="0 0 16 16">
            <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
          </svg>
        </div>
      </div>
    {% endfor %}
  </div>
  
  <div class="swiper video-swiper mobile-swiper-card-main">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="video-item">
            <video class="myVideo" src="{{block.settings.video_file.sources[1].url}}" loop muted playsinline></video>
            
            {% if block.settings.main_url != blank %}
              <a class="main-link-video" href='{{ block.settings.main_url }}'>
                <img src="{{ 'Vector112.svg' | asset_url }}" alt="Icon"/>
              </a>
            {% endif %}
            
            <div class="start_video">
              {{ "Vector1234.svg" | asset_url | img_tag: "Play Icon", "playBtn" }}
              {% comment %} <img class="playBtn" src="{{ 'Vector12.png' | asset_url }}" alt="Play Icon" style="cursor: pointer;" /> {% endcomment %}
              <svg class="pauseBtn" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" style="color: white; cursor:pointer; display:none;" viewBox="0 0 16 16">
                <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
              </svg>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <div class="swiper-pagination"></div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.video-swiper', {
      slidesPerView: 'auto',
      spaceBetween: 10,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });

    const videoItems = document.querySelectorAll('.video-item');
    videoItems.forEach(item => {
      const video = item.querySelector('.myVideo');
      const playBtn = item.querySelector('.playBtn');
      const pauseBtn = item.querySelector('.pauseBtn');

      playBtn.addEventListener('click', () => {
        video.muted = false;
        video.play();
        playBtn.style.display = 'none';
        pauseBtn.style.display = 'inline-block';
      });

      pauseBtn.addEventListener('click', () => {
        video.pause();
        pauseBtn.style.display = 'none';
        playBtn.style.display = 'inline-block';
      });
    });
  });
</script>

{% schema %}
{
  "name": "Rinfit Community",
  "settings": [
    {
      "type": "richtext",
      "id": "main_title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "main_url",
          "label": "Url button"
        },
        {
          "type": "video",
          "id": "video_file",
          "label": "Upload video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rinfit Community",
      "category": "Custom",
      "blocks": [
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}