{{- 'section-shop-by-category.css' | asset_url | stylesheet_tag -}}

<section class="shop-by-category">
  <div class="main-block-categories">
    {% if section.settings.title != blank %}
      {{ section.settings.title }}
    {% endif %}
  </div>
  <div class="main-swiper-category">
    <div class="swiper mySwiper-category">
      <div class="swiper-wrapper swiper-wrapper-category">
        {% for block in section.blocks %}
          <div class="swiper-slide category-main-swiper">
            <a href="{{ block.settings.link }}" class="category-link">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '600x600' }}" alt="{{ block.settings.title }}">
              {% else %}
                <div class="category-rectangle"></div>
              {% endif %}
              <div class="category-overlay">
                <p class="category-title">{{ block.settings.title }}</p>
                <span class="category-link-text">
                  {{ section.settings.category_link_text }}
                </span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next"><img src="{{ 'Vector.svg' | asset_url }}" alt="Next"></div>
    <div class="swiper-button-prev"><img src="{{ 'Vector.svg' | asset_url }}" alt="Prev"></div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    new Swiper('.mySwiper-category', {
      slidesPerView: 1.32,
      spaceBetween: 10,
      loop: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 4,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Shop by Category",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>Shop by Category</p>"
    },
    {
      "type": "text",
      "id": "category_link_text",
      "label": "Category Link Text",
      "default": "Shop Now"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Category Title",
          "default": "Category Name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Category Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Category Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop by Category",
      "settings": {
        "title": "<p><em>Shop by</em> Category</p>"
      },
      "blocks": [
        {
          "type": "category",
          "settings": {
            "title": "Rings",
            "image": "shopify:\/\/shop_images\/rings.jpg",
            "link": "/collections/rings"
          }
        },
        {
          "type": "category",
          "settings": {
            "title": "Necklaces",
            "image": "shopify:\/\/shop_images\/necklaces.jpg",
            "link": "/collections/necklaces"
          }
        },
        {
          "type": "category",
          "settings": {
            "title": "Bracelets",
            "image": "shopify:\/\/shop_images\/bracelets.jpg",
            "link": "/collections/bracelets"
          }
        },
        {
          "type": "category",
          "settings": {
            "title": "Earrings",
            "image": "shopify:\/\/shop_images\/earrings.jpg",
            "link": "/collections/earrings"
          }
        }
      ]
    }
  ]
}
{% endschema %}
