<style>
.main-title-about-section{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 0;
    text-transform: capitalize;
}
.main-title-about-section em{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 47px;
    line-height: 30px;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.main-subtitle-about-section{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #373936B2;
}
.main-section-about{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 0 30px;
    box-sizing: content-box;
}
.main-container-text-about{
    display: flex;
    gap: 40px;
    padding: 0 30px;
    flex-direction: column;
}
.banner-about-{{ section.id }}{
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_left }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_right }}px;
}
.main-section-banner-about{
    margin: 14px 0 0;
}
.banner-position-left .main-section-about{
    flex-direction: row-reverse;
}
@media (max-width: 1439px){
    .main-image-desk-about{
        width: 50%;
    }
}
@media (max-width: 1023px){
    .main-image-desk-about{
        width: 100%;
    }
    .banner-position-left .main-section-about,
    .main-section-about{
        flex-direction: column;
    }
    .main-section-about{
        max-width: 600px;
    }
}
@media (max-width: 768px){
    .main-section-banner-about{
        margin: 20px 0 0;
    }
    .main-container-text-about{
        gap: 30px;
    }
    .main-section-about{
        padding: 0 20px;
    }
    .main-image-desk-about{
        min-width: 350px;
        min-height: 300px;
    }
    .main-container-text-about{
        padding: 0;
    }
    .main-title-about-section{
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 300;
        font-size: 34px;
        line-height: 30px;
        letter-spacing: 0;
        text-transform: capitalize;
    }
    .main-title-about-section em{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-style: Italic;
        font-size: 40px;
        line-height: 30px;
        text-transform: capitalize;
    }
    .main-subtitle-about-section{
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
    }
}
</style>
<section class="main-section-banner-about banner-position-{{ section.settings.position_banner }}  banner-about-{{ section.id }}" style="background-color: {{ section.settings.background_color }}">
    <div class='main-section-about'>
        <div class="main-container-text-about">
            {% if section.settings.title != blank %}
                <div class="main-title-about-section">{{ section.settings.title }}</div>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <div class="main-subtitle-about-section">{{ section.settings.subtitle }}</div>
            {% endif %}
        </div>
        {% if section.settings.image != blank %}
            {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: class: "main-image-desk-about" }}
        {% endif %}
    </div>
</section>
{% schema %}
{
    "name": "Banenr about us",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        },
        { 
            "type": "range", 
            "id": "padding_top", 
            "label": "Padding top", 
            "min": 0, 
            "max": 100, 
            "step": 1,
            "default": 0 
        },
        { 
            "type": "range", 
            "id": "padding_left", 
            "label": "Padding left", 
            "min": 0, 
            "max": 100, 
            "step": 1,
            "default": 0 
        },
        { 
            "type": "range", 
            "id": "padding_right", 
            "label": "Padding right", 
            "min": 0, 
            "max": 100, 
            "step": 1,
            "default": 0 
        },
        { 
            "type": "range", 
            "id": "padding_bottom", 
            "label": "Padding bottom", 
            "min": 0, 
            "max": 100, 
            "step": 1,
            "default": 0 
        },
        {
            "type": "select",
            "id": "position_banner",
            "label": "Position",
            "default": "right",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                },
            ]
        }
    ],
    "presets": [
        {
            "name": "Banenr about us"
        }
    ]
}
{% endschema %}