{%- assign results_count = 0 -%}
{%- for item in search.results -%}
    {%- if item.object_type == 'product' -%}
      {%- assign results_count = results_count | plus: 1 -%}
    {%- elsif settings.search_show_only_products != true -%}
      {%- assign results_count = results_count | plus: 1 -%}
    {%- endif -%}
{%- endfor -%}
<div class="container">
  {%- paginate search.results by 12 -%}
    <h1 class="h3 mt-30 mb-40 text-center">
      {%- if search.performed -%}
        {%- if results_count == 0 -%}
          {{ 'general.search.no_results_html' | t: terms: search.terms }}
        {%- else -%}
          {{ 'general.search.results_for_html' | t: terms: search.terms }}
        {%- endif -%}
      {%- else -%}
        {{ 'general.search.title' | t }}
      {%- endif -%}
    </h1>
</div>
<div class="container container--sm{% unless search.performed %} pt-lg-80 pb-lg-60{% endunless %}">
   <form action="/search" method="get" role="search">
      <label for="Search" class="label-hidden">{{ 'general.search.placeholder' | t }}</label>
      <div class="d-flex">
        <input type="search"
               class="mb-0 mr-15"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="btn">{{ 'general.search.submit' | t }}</button>
      </div>
    </form>
</div>
<div class="container mb-60">
    {%- if search.performed -%}
      <div class="row mt-30">
        {%- for item in search.results -%}
            {%- if item.object_type == 'product' -%}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    {%- assign product = item -%}
                    {% include 'product-collection' %}
                </div>
            {%- elsif settings.search_show_only_products != true -%}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        {%- if item.image -%}
                            <a href="{{ item.url }}" class="d-block mb-20" title="{{ item.title | escape }}">
                                {% include 'rimage' with image: item.image alt: item.image.alt %}
                            </a>
                        {%- endif -%}
                    </div>
                    <p class="mb-10">{{ item.object_type | capitalize }}:</p>
                    <p><a href="{{ item.url }}">{{ item.title | escape }}</a></p>
                </div>
            {%- endif -%}
        {%- endfor -%}
      </div>
      {%- if paginate.pages > 1 -%}
        {% include 'pagination' with pagination_type: 'classic' %}
      {%- endif -%}
    {%- endif -%}
  {% endpaginate %}
</div>